<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="MasterConnection"
             connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=master;Integrated Security=True;Encrypt=False" />
        <add name="Gr8FoodConnection"
             connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Gr8FoodDb;Integrated Security=True;Encrypt=False" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>
